@media screen and (min-width: 1400px) {
    :root {
        --primary: #f4f4f4;
        --secondary: #3e334e;
    }


    #image-static {
        display: none;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .content {
        padding: 75px;

    }

    #dark-overlay {
        position: absolute;
      top: 0;
      left: 0;
      width: 65%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .images-collection {
        background-color: var(--secondary);
        height: 100vh;
        width: 65vw;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
        padding: 25px;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .image3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/image003.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 1 / 3;
    }
    .image4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image004.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 3 / 4;
    }
    .image5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image005.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 1 / 2;
    }
    .image6 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image006.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 2 / 3;
    }
    .image7 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image007.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 3 / 4;
    }
    .image8 { 
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image008.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 1 / 2;
    }
    .image9 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image009.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 2 / 4;
    }
    .image10 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image010.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 1 / 3;
    }
    .image11 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/image011.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
        grid-row: 3 / 4;
    }
}