:root {
    --primary: #f4f4f4;
    --secondary: #3e334e;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#image-static {
    background-image: url(images/image001.jpg);
    height: 20vh;
    background-position: center;
    background-size: cover;
}

.container {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    height: 100vh;
    color: var(--secondary);
    padding: 30px;
}

.title {
    display: flex;
    gap: 10px;
}

img {
    width: 35px;
    opacity: 0.75;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
    margin-top: 40px;
}

#paragraph1 {
    margin-top: 25px;
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 30px;
    max-width: 381px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 18px;
    margin: 20px 0 8px 0;
    font-weight: 800;
}

.form input {
    padding: 8px;
    border: 1px solid #afa2c3;
    border-radius: 7px;
    color: var(--secondary);
    max-width: 381px;
    height: 45px;
}

.form-end {
    display: flex;
    justify-content: space-between;
    max-width: 381px;
    margin-top: 8px;
    font-size: 17px;
    color: var(--secondary);
}

.form-end span {
    display: flex;
    vertical-align: middle;
}

.form-end span > span {
    margin-left: 3px;
}

input[type=checkbox] {
    accent-color: var(--secondary);
}

.form-end a {
    opacity: 0.9;
    color: var(--secondary);
}

.submit {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 381px;

}

.submit button {
    width: 160px;
    height: 60px;
    border: 1px solid #3e334e;
    border-radius: 7px;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 18px;
}

#login {
    background-color: var(--secondary);
    color: #f2f2f2;
}

#final {
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    max-width: 357px;
}

.alternative {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    max-width: 381px;

}

.alternative button {
    border: 1px solid rgba(62,51,78, 0.5);
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    color: var(--secondary);
}

